<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="StorageConnectionString" 
         value="DefaultEndpointsProtocol=https;AccountName=torgovitskys;AccountKey=zMOaa91BjrSa3cgEFcukgr/FOu33HRaq6Z1E4rc5lNJEF49SvH1Xb/igiYbzULDjF6HNvJDvsrr9tZR5c8HEKA==" />
  </appSettings>
</configuration>